*{padding: 0; margin: 0; border: 0;}
*,*::before,*::after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{ height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px;
-ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #926239;
    line-height: 1.6;}
.header {
    background-image: url(/beachshowcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;   }
.titile { 
    font-size: 50px;  
    font-weight: bold; 
    line-height: 1.2;}
.subtitile { 
    font-size: 20px; }
a {
    display: inline-block;
    font-size: 18px;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px; }
a:hover {
    background-color: #926239;
    color: white; }
.info { 
    display: flex; 
    flex-direction: column; }
.info_item { padding: 20px;}
.info_item:first-child {
    background-color: #926239;
    color: white; }
.footer { 
    display: flex;
    justify-content: space-between;}
.footer_item { padding: 20px;}
.footer_item:nth-child(odd) {
    background-color: #926239;
    color: white;}